 {% extends "processing/views/templates/base.html" %} 
 {% block content %}
 <link href="{{context}}/css/codemirror.css" rel="stylesheet" type="text/css">
 <link href="{{context}}/css/dialog.css" rel="stylesheet" type="text/css">
<style type="text/css">
      .CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
</style>

<input type="text" id="title" value="{{title}}" placeholder="Title"></input>

<div class="hero-unit">     	
<canvas id="sketch-canvas" 
		width=200 
		height=100 
		style="image-rendering: -webkit-optimize-contrast !important;">
</canvas>
</div>
    	     	
 <textarea id="code" name="code">
 {{source-code}}
</textarea>
 <br/>
<button type="button" id="render">render</button>
<button type="button" id="save">save</button>
  
<h3>Editor Help</h3>  
<dl>
      <dt>Ctrl-F / Cmd-F</dt><dd>Start searching</dd>
      <dt>Ctrl-G / Cmd-G</dt><dd>Find next</dd>
      <dt>Shift-Ctrl-G / Shift-Cmd-G</dt><dd>Find previous</dd>
      <dt>Shift-Ctrl-F / Cmd-Option-F</dt><dd>Replace</dd>
      <dt>Shift-Ctrl-R / Shift-Cmd-Option-F</dt><dd>Replace all</dd>
</dl>
  
{% endblock %}

{% block scripts %}	
  <script src="{{context}}/js/codemirror/codemirror.js"></script>
  <script src="{{context}}/js/codemirror/addons/closebrackets.js"></script>
  <script src="{{context}}/js/codemirror/addons/dialog.js"></script>
  <script src="{{context}}/js/codemirror/addons/match-highlighter.js"></script>
  <script src="{{context}}/js/codemirror/addons/search.js"></script>
  <script src="{{context}}/js/codemirror/addons/searchcursor.js"></script>  
  <script src="{{context}}/js/codemirror/modes/javascript.js"></script>
  <script type="text/javascript">	   
	   var sketchId = "{{sketch-id}}";
	   var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	     mode: { name: "javascript", htmlMode: false },
	     autoCloseBrackets: true,
	     lineNumbers: true,
	     viewportMargin: 140,
	     tabMode: "indent",
	     matchBrackets: true	     	     
	   });
  </script>
  <script>goog.require('processing.client.editor');</script>
  <script>processing.client.editor.init();</script>	  
{% endblock %}

